/**
 * main.css: css specific to the newsletter-portlet.
 *
 * Created:     2016-10-06 16:54 by Christian Berndt
 * Modified:    2016-10-11 10:55 by Christian Berndt
 * Version:     1.0.3
 * 
 */
.aui {
    
    .alert-info {
        margin-top: 20px;
    }
 
    dl.build-info dfn, 
    dl.build-info dt {
        display: inline;
        font-weight: normal;
        font-style: normal;
    }
    
    dl.build-info dfn {
        margin-right: 20px;
    }
    
    .last {
        .btn-group {
            float: right;
        }
    }
    
    .portlet-newsletter {
        .searchcontainer {
            .table {
                td {
                    vertical-align: middle;
                }
            }
        }   
    }
}