/**
 * main.css: css specific to the newsletter-portlet.
 *
 * Created:     2016-10-06 16:54 by Christian Berndt
 * Modified:    2016-10-17 21:00 by Christian Berndt
 * Version:     1.0.4
 * 
 */
.aui {
    
    .alert-info {
        margin-top: 20px;
    }
    
    .control-group-inline {
        margin-right: 20px;
    }
 
    dl.build-info dfn, 
    dl.build-info dt {
        display: inline;
        font-weight: normal;
        font-style: normal;
    }
    
    dl.build-info dfn {
        margin-right: 20px;
    }
    
    .editor-wrapper {
        .control-group,
        textarea {
            min-height: 10em;
            width: 100%;
        }
    }
    
    .last {
        .btn-group {
            float: right;
        }
    }
    
    .newsletter-introduction {
        margin-bottom: 20px;
    }
    
    .portlet-newsletter {
        .searchcontainer {
            .table {
                td {
                    vertical-align: middle;
                }
            }
        }   
    }
}