/** 
    main.scss: reference-manager specific css

    Created:    2016-12-13 23:49 by Christian Berndt
    Modified:   2016-12-25 23:34 by Christian Berndt
    Version:    1.0.5
*/

@import "bourbon";
@import "mixins";

.bibliography-manager-portlet {
    
    .alert {
        margin-top: 20px;
    }
    
    .bibliography-head {
        border-bottom: 1px solid #ddd;
        margin-top: -15px;
        margin-bottom: 30px; 
        padding-bottom: 10px; 
        position: relative;
        
        .add-reference {
            position: absolute; 
            right: 0;
            bottom: 5px;
        }
        
        .compiled-by {
            display: inline-block;
        }
    }
    
    fieldset {
        border-bottom: 1px solid #ddd;
    }
    
    .search-form {
            
        .form-group {
            margin-bottom: 0; 
            margin-right: 10px;
        }
    }
    
    form {
    
        input[type="file"] {
            height: auto;
            
            &.form-control {
                padding: 4px;
            }
        }
    
        .form-group.dash {
            padding: 6px;
        }   
        
        .help-message {
        
            margin-bottom: 15px;
            
            .icon {
                font-size: 20px; 
                margin-left: 5px;
            }
        }      
    }
}

fieldset.private-settings,
fieldset.tags-and-categories {
    
    padding-top: 15px;
    
    .tagselector-content .textboxlistentry-holder {
        border-bottom: 1px solid #ddd;
    }
         
    .textboxlistentry-holder {
        min-height: 35px;
    }
}

.form-section {
    margin-top: 15px;
}

.panel {
    .list-group-item {
        > .btn-group {
            position: absolute; 
            right: 15px;
            top: 4px;
        }
    }
}

.reference-head {
    h3 {
        margin-bottom: 20px; 
    }
}

.reference-manager-portlet {
    
    fieldset {
        border-bottom: 1px solid #ddd;
    }
        
    input[type="file"] {
        height: auto;
        
        &.form-control {
            padding: 4px;
        }
    }
    
    .reference-head {
        border-bottom: 1px solid #ddd;
        margin-top: -15px;
        margin-bottom: 30px; 
        padding-bottom: 10px; 
    }
}

.search-results {
    margin-bottom: 20px; 
}

.table-bordered {
    > thead {
        > tr {
            th, td {
                border-bottom-width: 1px;
            }
        }        
    }  
}

textarea {
    &.form-control {
        height: 300px;
    }
}

.upload {
    .btn {
        margin-bottom: 16px;
        margin-left: 15px;
    }
}

.your-bibliographies-portlet {
    .list-group-item {
        > a {
            font-weight: 600; 
        }
    }
}
