/** 
    main.scss: reference-manager specific css

    Created:    2016-12-13 23:49 by Christian Berndt
    Modified:   2017-02-06 22:10 by Christian Berndt
    Version:    1.1.3
*/

@import "bourbon";
@import "mixins";

.bibliography-manager-portlet {
    
    .bibliography-head {
        margin-top: -15px;
        padding-bottom: 20px; 
        position: relative;
        
        .add-reference {
            position: absolute; 
            right: 0;
            bottom: 5px;
        }
        
        .compiled-by {
            display: inline-block;
        }
    }
    
    fieldset {
    
        border-bottom: 1px solid #ddd;
        
        margin-bottom: 20px;
        padding-bottom: 10px;
        
        &.tags {
            padding-bottom: 20px;
        }
        
        &.private-settings,
        &.tags-and-categories {
            
            padding-top: 15px;
            
            .tagselector-content .textboxlistentry-holder {
                border-bottom: 1px solid #ddd;
            }
                 
            .textboxlistentry-holder {
                min-height: 35px;
            }
        }   
    }
    
    form {
    
        textarea {
            height: 100px; 
            width: 400px; 
        }
    
        input[type="file"] {
            height: auto;
            
            &.form-control {
                padding: 4px;
            }
        }
    
        .form-group.dash {
            padding: 6px;
        } 
                
        .help-block {            
            .icon {
                font-size: 20px; 
                margin-left: 5px;
            }
        } 
        
        span.help-block {
            display: inline;
        }     
    }
    
    .navbar {
        min-height: 0;
    }
    
    .search-form {
            
        .form-group {
            margin-bottom: 0; 
            margin-right: 10px;
        }
    }
}

.form-section {
    margin-top: 15px;
}

.item-remove {
    .taglib-text-icon {    
        &:before {
            content: "\f00d"; 
            font-family: 'fontawesome-alloy';
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            *margin-right: .3em;
            margin-right: .4em;
            speak: none;
            text-decoration: inherit;
            text-transform: none;
        }
    }
}

.lfr-alert-wrapper {
    padding-left: 0; 
    padding-right: 0; 
}

.panel {
    .list-group-item {
        > .btn-group {
            position: absolute; 
            right: 15px;
            top: 4px;
        }
    }
}

.reference-head {
    h3 {
        margin-bottom: 20px; 
        margin-top: 10px;
    }
}

.reference-manager-portlet {
    
    fieldset {
        border-bottom: 1px solid #ddd;
    }
        
    input[type="file"] {
        height: auto;
        
        &.form-control {
            padding: 4px;
        }
    }
    
    .reference-head {
        border-bottom: 1px solid #ddd;
        margin-top: -15px;
        margin-bottom: 30px; 
        padding-bottom: 10px; 
    }
}

.search-results {
    margin-bottom: 20px; 
}

.table-bordered {
    > thead {
        > tr {
            th, td {
                border-bottom-width: 1px;
            }
        }        
    }  
}

.taglib-ratings {
    
    &.stars {
        .liferay-rating-vote {
            margin-right: 20px;    
        } 
        .liferay-rating-score {
            padding-left: 0; 
        }
    }
}


textarea {
    &.form-control {
        height: 300px;
    }
}

.upload {
    .btn {
        margin-bottom: 16px;
        margin-left: 15px;
    }
}

.your-bibliographies-portlet {
    .list-group-item {
        > a {
            font-weight: 600; 
        }
    }
}
