/**
 * custom.css: Main CSS of Inofix' default theme.
 * 
 * Created: 	2015-07-28 12:21 by Christian Berndt
 * Modified: 	2016-02-14 17:10 by Christian Berndt
 * Version: 	0.5.7
 */
@import "compass";

@import "mixins";

/** --------------------------------- variables */

$default-font-color: #333; /* bootstrap default font color */


$dockbar-height: 42px;
$nav-height: 60px;
$dockbar-and-nav-height: 102px;

$h2-font-size: 31.5px;
$h2-line-height: 40px;

$phone-padding: 15px;
$tablet-padding: 20px;

.aui {
    
/** --------------------------------- global settings */
    
    
    font-family: 'Source Sans Pro', sans-serif;
    
    h1,h2,h3,h4,h5,h6,strong,
    .fieldset-legend {
        font-weight:600;
    }

    a:hover, a:focus {
        text-decoration: none;
    }
    
    .btn:focus {
        outline: none; 
    }

    body,input,button,select,textarea {
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    form {
        margin: 0; 
    }

    #wrapper {
        padding: 0;
    }
    
    #content {
        font-size: 18px;
        line-height: 25px;
    }

/** --------------------------------- dockbar */
    
    .portlet-dockbar {
    
        position: fixed;
        width: 100%;
        z-index: 1040; 

        .user-notifications-count {
            display: inline;
            padding: 2px 4px 2px;
            background-color: #FCF8E3; /* bootstrap alert */
            color: #C09853; /* bootstrap alert */
            border: 1px solid #FBEED5; /* bootstrap alert */
        }
        
    }
    
    /* override settings in dockbar.css */
    @include respond-to(phone, tablet) {
    
        #navigation {
            display: block; /* override settings in dockbar.css */    

            &.open {
                display: block;
            }
        }
    }
    
/** --------------------------------- navigation */


    #site-navigation {
            
        .navbar-inner {
            height: $nav-height;
            
            background: white; 
        } 
    
        .nav {
        
            text-transform: uppercase;
        
            > li > a {
                padding: 20px 15px;
                letter-spacing: 0.1em;
                
                &:last-of-type {
                    padding-right: 0;
                }
            }
        
            li:first-of-type {
                display: none; 
            }
            
            li:last-of-type {
                margin-right: -15px;
            }
        }
        
        .brand {
        
        	margin-top: 11px;
        	margin-left: 0; 
            padding: 9px 12px;
            background: red; 
            color: white;
            font-size: 18px;
            line-height: 18px;
            font-weight: normal; 
            letter-spacing: 0.1em;
            
            border-color: red;
            border-width: 0px 0px 1px;
			border-style: none none solid;
		    border-radius: 3px;
            
        }
        
        &.navbar-fixed-top {
            position: fixed; 
        }
    }

    
/** --------------------------------- content */

    #content {
        margin-top: $nav-height; 
    }
    
/** --------------------------- asset-publisher */

    .portlet-asset-publisher {
                   
        h1 a, h2 a, h3 a, h4 a {
        
            color: $default-font-color;
         
        }
	}
    
/** --------------------------------- flex-slider */

    .flexslider {
    
        border: none;
        margin: 0;
    
        ul, ol {
            margin: 0;
        }

        .flex-direction-nav {
        
            a {
                opacity: 0.7;
                
                &:before {
                    margin-top: 10px;
                }
            }
            
            .flex-prev {
                left: 10px;
            }
            .flex-next {
                right: 10px;
            }
        }
        
        &.projects-min.slider,
        &.projects.slider {
        
        	.project {
        		h3 {   
		            top: 30px;
		            left: 100px;
		            width: 400px;
		            text-align: left;
		            position: absolute;       		
        		}
        	}
        
            /* vertical control-nav for main slider of .projects */
            .flex-control-nav {
            
                bottom: 0; 
                width: auto;
                position: absolute;
                top: 60%;
                transform: translateY(-60%);
                right: 0; 
                z-index: 1000;
                
                li {
                    display: block;
                    margin: 12px 6px;
                }
            }
            
            .flex-control-paging {
            
            	li a {
            	
	            	background: transparent; 
				    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
				    border: 1px solid #333;
				    
				    &:hover {
 		            	background: #666;				    	
				    }
	            		            
		            &.flex-active {
		            	background: #333;
		            }
	            }
            }
        }
        
        &.projects .project{
        
            h2,h3  {
                display: none; 
            }
        }
                     
        &.projects-min {
            text-align: center;
        }
        
        &.projects.carousel {
        
            li {
                        
                opacity: 0.2;
                
                -webkit-transition: opacity 200ms ease-in;
                -moz-transition: opacity 200ms ease-in;
                -o-transition: opacity 200ms ease-in;
                -ms-transition: opacity 200ms ease-in;
                transition: opacity 200ms ease-in;                
                
                .client-name {
            
                    text-align: center; 
                    background: lightgray;
                    cursor: pointer;
                    height: 6em;
                
                    > div {
                    
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        
                        width: 200px;
                        margin: auto; 
                        
                        // center vertically
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                
                &.flex-active-slide {
                    opacity: 1;
                }
                
                .client-body {
                    padding: 15px 30px;
                }
            } 
        }
    }
    
     
    
/** --------------------------------- image-gallery-display */

    .portlet-image-gallery-display {
       
		.file-entries {
		
			.file-entry {
			
			    .preview {
				    width: 370px;
				    height: 247px; /* 2:3 */
				    background-color: lightgray;			    
			        background-size: cover;
			        background-position: center center;
			        background-repeat: no-repeat;
			        margin-bottom: 30px;
                }
			}
			
			.row-fluid {
			    margin-bottom: 30px;
			}		
		}        
    }



/** --------------------------------- templates */

    .template {
    
        a.btn {
            text-transform: uppercase;
            letter-spacing: 0.1em;
            
            background: none;
            padding: 15px 30px;
            border-color: #333; /* bootstrap default font color */
            
            box-shadow: none; 
            -webkit-box-shadow: none;
        }
        
        a.btn:hover {
            background: none; 
            color: black;
        }
        
        .template-body {
        	padding: 60px 0 75px;
        }       
    }
    
    .article {
            
        .section {
            margin-bottom: 20px;
        }
        
        .toc {
            margin-top: 120px;
        }
    }
    
    .contact {
    
        margin: 0 0 100px;
        
        p {
            margin: 0 0 20px;
        }
    }
    
    .project { 
        
        h3 {
            line-height: 30px;
        } 
        
        .template-body {
	    	padding-left: 100px; 
	    	padding-right: 100px;
        }
        
        .client-link {
        	padding-top: 20px;
        }        
    }
    

    .teaser {
            
        text-align: center;
        
        .row {
            margin-left: 0; 
        }
        
        h1 {
            line-height: 1.2em;
            min-height: 3em;
            margin-bottom: 70px;
            padding: 0 200px;
        }
        
        h2, .lead {
            text-align: left;
        }
    }
    
    .map {
        height: 70vh;
        margin-bottom: 3em;
    }
    
/* ---------------------------------- forms */

    .web-form-portlet {  
          
        .portlet-body {   
                 
            margin-bottom: 100px;
            
            .fieldset {
            
                margin-top: 10px;
                
                .fieldset-legend {
                    font-size: $h2-font-size; 
                    line-height: $h2-line-height; 
                    margin-bottom: 10px;
                    border: none; 
                }
            }
            
            .description {
                font-size: 21px;    /* bootstrap .lead */
                font-weight: 200;   /* bootstrap .lead */
                line-height: 30px;  /* bootstrap .lead */  
                margin-bottom: 20px;        
            } 
            
            input, select, textarea {
                border-color: #e4e4e4;
                background: #f4f4f4;
                font-size: 16px; 
                font-weight: 600;
            }    
        }
        
        &.contact-form {
        
            width: 570px;       /* bootstrap span6 */
            
            input,
            textarea {
                width: 562px;   /* bootstrap span6 - default padding */
                max-width: 562px;
            }
            
            select, textarea {
                width: 100%;
            }
            
        }
    }
    
/** --------------------------------- footer */

    #footer {
    
    	margin-top: 30px;
                    
        background-color: #252525; 
        border-top-color: #333;
        
        padding: 30px 0; 
                
        color: #999;
        
        a {
            color: #ccc;
            
            &:hover {
                color: #fff;
            }
        }
        
        .portlet-site-map {
        
            display: inline;
            
            .portlet-borderless-container {
                min-height: 1em;
                display: inline;
            }
            
            .portlet-body {
                display: inline; 
                
                ul {
                    list-style: none; 
                    display: inline; 
                }
                
                li {
                    display: inline; 
                    
                    a {
                        &:after {
                            content: " / ";
                        }
                    }
                }
            }       
        }
        
        .icon {
            margin-left: 12px;           
        }
    }
        
/** --------------------------------- liferay-ui */
    .signed-in {
    
        #site-navigation {
            margin-top: $dockbar-height; 
        }
        
        #content {
            margin-top: $dockbar-and-nav-height;
        }
    }
    
    .portlet-journal-content {
        .alert,
        .lfr-meta-actions {
            margin: 20px 20px 0; 
        }
        
        .lfr-meta-actions {
            padding-top: 0; 
            padding-bottom: 1em;
        }
    }
    
    /* bootstrap container-breakpoints for liferay standard portlets and layouts */
    .columns-1-2 .portlet-layout,
    .portlet-asset-publisher .add-asset-selector,
    .portlet-dynamic-data-mapping .portlet-body,
    .portlet-journal .article-form-add,
    .portlet-journal .article-form-edit,
    .portlet-login .portlet-body {
        width: 1170px; /* bootstrap container */
        margin: auto; 
    }
 
/** --------------------------------- responsive */

    
    @media (min-width: 980px) and (max-width: 1199px) {
    	
	    .flexslider {    
    
	        &.projects-min.slider,
	        &.projects.slider {
	        
	        	.project {
	        		h3 {   
			            top: 20px;
			            left: 80px;
	        		}
	        	}
			}   
		}
    
        .container {
            width: 940px;
        }
        
        .template {
	        .template-body {
	        	padding-top: 60px; 
	        	padding-bottom: 60px;
	        }
	    }
	    
	    .project {
	    
            h3 {
	            top: 20px;
	            left: 80px;
	        } 
	    
   	        .template-body {
				padding-left: 80px;
				padding-right: 80px;
	        }
	    }
	    
	    .teaser {
	    	h1 {
	    		padding-left: 160px;
	    		padding-right: 160px;
	    	}
	    }
	    
	    #footer {    
	    	margin-top: 20px;
	    }	    
        
        /* bootstrap container-breakpoints for liferay standard portlets and layouts */
        .columns-1-2 .portlet-layout,
        .portlet-asset-publisher .add-asset-selector,
        .portlet-dynamic-data-mapping .portlet-body,
        .portlet-journal .article-form-add,
        .portlet-journal .article-form-edit,
        .portlet-login .portlet-body {
            width: 940px; /* bootstrap container */
            margin: auto; 
        }        
    }

    @media (max-width: 979px) {  
    
        h1 {
            font-size: 31.5px; /** bootstrap h2 */
            line-height: 40px; /** bootstrap h2 */            
        }
        
        .web-form-portlet .portlet-body .fieldset .fieldset-legend,
        h2 {
            font-size: 24.5px; /** bootstrap h3 */
            line-height: 40px; /** bootstrap h3 */            
        }
    
        h3 {
            font-size: 17.5px; /** bootstrap h4 */
            line-height: 20px; /** bootstrap h4 */
            font-weight: 600; 
        }
        
        #site-navigation {
        
            .navbar-inner {
            
                padding: 0;
                
                .btn-navbar {
                    background: none; 
                    border: none; 
                    padding: 15px 10px 15px; 
                    color: #333;
                    text-shadow: none;
                    
                    &:focus {
                        box-shadow: none; 
                    }
                }
            
                .container .nav-collapse {
                
                    display: block;
                    float: none;
                    background: white; 
                                        
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);    
                    
                    .nav a {
                        font-weight: normal;
                        text-align: center;
                    }          
                }
            }
            
            .brand {
            	margin-left: $tablet-padding;
            }
        }
                
        .container {
            width: 100%;    
        }
        
	    .flexslider {    
    
	        &.projects-min.slider,
	        &.projects.slider {
	        
	        	.project {
	        		h3 {   
			            top: 20px;
			            left: 50px;
			            width: 300px;
	        		}
	        	}
			}
		}
        
        .template {
            
            .template-body {
            	padding: 30px 0; 
            }
        }
        
        .template,
        .footer-content {        
            padding-left: $tablet-padding;
            padding-right: $tablet-padding;           
        }  
        
	    .article {
	        
	        .toc {
	            margin-top: 90px;
	            max-width: 160px;
	        }
	    }        
    
        .project {
        
            h3 {
                top: 20px;
                left: 50px;
                width: 300px;
                line-height: 20px; /** bootstrap h3 */         
            }
            
            .template-body {
            	padding-left: 30px; 
            	padding-right: 30px;
            }

        }
        
        .teaser {
                            
            h1 {
                padding: 0 120px;
                margin-bottom: 50px;           
            }
        }
        
        .web-form-portlet {
                    
            &.contact-form {
            
                width: 100%;
                
                input,
                textarea {
                    width: 98%;
                    max-width: 98%;
                }
                
                select, textarea {
                    width: 100%;
                }
                
            }
        }        
        
        /* bootstrap container-breakpoints for liferay standard portlets and layouts */
        .columns-1-2 .portlet-layout,
        .portlet-asset-publisher .add-asset-selector,
        .portlet-dynamic-data-mapping .portlet-body,
        .portlet-journal .article-form-add,
        .portlet-journal .article-form-edit,
        .portlet-login .portlet-body {
            width: 100%; /* bootstrap container */
            margin: auto; 
        }
        
        .columns-1-2 {
                  
            #column-2 {
                padding: 0 $tablet-padding;
            }
        }       
    }   
    
    @media (max-width: 767px) {
    
        body {
            padding: 0; 
        }
        
        .container {
            width: 100%;        
        }
    
        #site-navigation.navbar-fixed-top {
            margin: 0;
            
            .brand {
            	margin-left: $phone-padding; 
            }
        }
        
		.toc {
            display: none;         
        }
        
        .template {
        
            word-wrap: break-word;
            padding: 0; 
            
            .template-body {
            	padding: 30px $phone-padding;
            }
        }
        
        .contact {
        	padding: 0 $phone-padding;
        }        
        
        .project {
        
            h3 {
                position: relative;
                width: auto;
                left: 0;
               	padding-left: $phone-padding; 
            	padding-right: $phone-padding; 
            }
            
            .template-body {
            	padding-left: $phone-padding; 
            	padding-right: $phone-padding;
            	padding-bottom: 15px;
            }           
        }
        
        .teaser {
                                    
            h1 {
                padding: 0;            
            }
		}
		
        .flexslider.projects-min.slider {
        
            margin-bottom: 30px;
        
        	.project {
        		h3 {
		            position: relative; 
		            width: auto;
		            left: 0;      		
        		}
        	}
        
            .flex-control-nav {
                position: relative;
                bottom: -60px;
                
                li {
                    display: inline-block;
                }
            }     
        }
        
        .web-form-portlet {
                    
            &.contact-form {
                            
                input,
                textarea {
                    width: 95%;
                    max-width: 95%;
                }                
            }
        }
        
        .footer-content {
        
            padding: 0 $phone-padding;

            .copyright {
                padding-bottom: 20px;
            }
            
            .pull-left {
                float: none; 
            }
            
            .pull-right {
                float: none;
            }
            
            .portlet-site-map {
                ul {
                    margin-left: 0; 
                }
            }
        }

        .columns-1-2 {
                  
            #column-2 {
                padding: 0 $phone-padding;
            }
        }           
    }
}
