/Mailing.java
/MailingClp.java
/MailingModel.java
/MailingSoap.java
/MailingWrapper.java
/Newsletter.java
/NewsletterClp.java
/NewsletterModel.java
/NewsletterSoap.java
/NewsletterWrapper.java
/Subscriber.java
/SubscriberClp.java
/SubscriberModel.java
/SubscriberSoap.java
/SubscriberWrapper.java
