<?xml version="1.0"?>
<!-- 
    web.xml: Web-Application configuration
    of the timetracker-portlet.
    
    Created:	2013-10-06 17:23 by Christian Berndt
    Modified:	2015-05-12 18:16 by Christian Berndt
    Version: 	1.0.1
-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
</web-app>