/**
 * main.css: css specific to the timetracker-portlet.
 *
 * Created: 	2013-10-09 22:44 by Christian Berndt
 * Modified: 	2016-03-23 00:26 by Christian Berndt
 * Version:		1.0.7
 * 
 */

.aui {
    
    /**
     * The right element, but overriden by the settings in aui.css.
     */
    .control-group {
        margin-bottom: 10px;
    }

    .duration-in-minutes {
        width: 50px;
    }
 
    dl.build-info dfn, 
    dl.build-info dt {
        display: inline;
        font-weight: normal;
        font-style: normal;
    }
    
    dl.build-info dfn {
        margin-right: 20px;
    }
    
    /** fit the select all-entries button into the header row */
    .lfr-header-row-content  {
       padding: 0;
    }

    .navbar {
        
        .btn {
        
            margin-top: auto;
            
            &.add-task-record {
                margin-top: 8px;       
                margin-left: 8px;       
            }
            
            &.clear-btn {
                margin-left: 8px;
            }      
        }
    }
    
    .popover {
            
        .control-group {
            margin-bottom: 5px;
        }
        
        .fieldset {
            margin-top: 5px;
        }
        
        select {
            margin-bottom: 0; 
        }
    } 
    
    select.time-picker-select {
        width: 55px ;
    }
    
    /**
     * Style of the search toggle
     * taken from the control panel theme's
     * custom.css
     */
    .taglib-search-toggle {
    
        float: left; 
        
/*         background: #E8EAEB; */
/*         border: 1px solid #979798; */
/*         border-color: #979798 #FAFAFB #FAFAFB #BDBDBE; */
    
/*         padding: 5px 5px 2px; */
    
/*         border-radius: 4px; */
/*         -webkit-border-radius: 4px; */
/*         -moz-border-radius: 4px; */
        
/*         -moz-box-shadow: inset 0 0 8px #CECECE; */
/*         -webkit-box-shadow: inset 0 0 8px #CECECE; */
/*         -o-box-shadow: inset 0 0 8px #CECECE; */
/*         box-shadow: inset 0 0 8px #CECECE; */
        
/*         margin-bottom: 5px; */
/*         padding-bottom: 5px; */
        
        button {
            margin-top: -5px;
        }        
    }
    
    input.timetracker-input {
        width: 500px;
    }
}
