/**
 * main.css: css specific to the timetracker-portlet.
 *
 * Created: 	2013-10-09 22:44 by Christian Berndt
 * Modified: 	2014-04-16 15:45 by Christian Berndt
 * Version:		1.4
 * 
 */
 .duration-in-minutes {
 	width: 50px;
 }

/**
 * Override the default settings 
 * for the aui-select width
 */
.aui input,
.aui select,
.taglib-search-toggle button
{
	width: 178px;
	margin-right: 5px;
}

.taglib-search-toggle button {
	margin-top: -5px;
}


.aui select.time-picker-select {
	width: 55px ;
}

.aui input.timetracker-input {
	width: 500px;
}

/**
 * Style of the search toggle
 * taken from the control panel theme's
 * custom.css
 */
.taglib-search-toggle {
    background: #E8EAEB;
    border: 1px solid #979798;
    border-color: #979798 #FAFAFB #FAFAFB #BDBDBE;

    padding: 5px 5px 2px;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    /* @include border-radius(4px); */

    -moz-box-shadow: inset 0 0 8px #CECECE;
    -webkit-box-shadow: inset 0 0 8px #CECECE;
    -o-box-shadow: inset 0 0 8px #CECECE;
    box-shadow: inset 0 0 8px #CECECE;

    /* @include box-shadow(0 0 8px #CECECE inset); */

    margin-bottom: 5px;
    padding-bottom: 5px;
}

/**
 * The right element, but overriden by the settings in aui.css.
 */
.aui .control-group {
	margin-bottom: 10px;
/* 	background: orange;  */
}

/**
 * hide non essential elements on mobile- and tablet-size devices. 
 */
 .view-lt960 .create-date, 
 .view-lt960 .id, 
 .view-lt960 .modified-date, 
 .view-lt960 #_timetrackerportlet_WAR_timetrackerportlet_taskRecordsSearchContainer_col-create-date,
 .view-lt960 #_timetrackerportlet_WAR_timetrackerportlet_taskRecordsSearchContainer_col-id,
 .view-lt960 #_timetrackerportlet_WAR_timetrackerportlet_taskRecordsSearchContainer_col-modified-date 
 {
	display: none;
}

.view-lt720 .date,  
.view-lt720 #_timetrackerportlet_WAR_timetrackerportlet_taskRecordsSearchContainer_col-date 
 {
	display: none;
}

