<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Portal Delegate Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>ch.inofix.portlet.search.servlet.JSONSearchServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>search</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>ch.inofix.portlet.search.servlet.JSONSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>

</web-app>