/MailingBaseImpl.java
/MailingCacheModel.java
/MailingModelImpl.java
/NewsletterBaseImpl.java
/NewsletterCacheModel.java
/NewsletterModelImpl.java
/SubscriberBaseImpl.java
/SubscriberCacheModel.java
/SubscriberModelImpl.java
