/**
 * main.css: The contact-manager portlet's css configuration
 *
 * Created:     2015-05-08 15:51 by Christian Berndt
 * Modified:    2015-05-21 12:38 by Christian Berndt
 * Version:     1.0.3
 *
 */
 
.portlet-contact-manager .alert {
	margin-top: 1.5em; /* The same as lfr-search-container */
}

.portlet-contact-manager fieldset .container-fluid {
	padding-right: 0; 
	padding-left: 0;
}

.portlet-contact-manager .contact-search .control-group,
.portlet-contact-manager .row-fluid form {
	margin-bottom: 0; 
}

.portlet-contact-manager form .btn {
	margin-top: -6px;
}

.portlet-contact-manager .form-navigator .btn {
	margin-top: 0; 
}

.portlet-contact-manager .btn-add {
    font-size: 16px;
}
 
.portlet-contact-manager .note {
	   min-height: 100px;
} 

.portlet-contact-manager .note,
.portlet-contact-manager .v-card {
    min-width: 490px;
}

.portlet-contact-manager .v-card {
	min-height: 300px;
}

.portlet-contact-manager .url-address {
    min-width: 490px;
}

@media (max-width: 979px) {
    .portlet-contact-manager .note,
    .portlet-contact-manager .v-card,
    .portlet-contact-manager .url-address
    {
       min-width: 490px;
    }
}   
   
@media (max-width: 767px) {
    .portlet-contact-manager .note,
    .portlet-contact-manager .v-card,
    .portlet-contact-manager .url-address 
    {
       min-width: 290px;
    }
} 
 