/**
 * main.css: The cdav-manager portlet's css configuration
 *
 * Created:     2015-06-05 18:11 by Christian Berndt
 * Modified:    2015-06-13 19:19 by Christian Berndt
 * Version:     1.0.2
 *
 */
.portlet-cdav-manager dd, 
.portlet-cdav-manager dfn,
.portlet-cdav-manager dl,
.portlet-cdav-manager dt {
	display: inline;
}

.portlet-cdav-manager .build-info dfn, 
.portlet-cdav-manager .build-info dt {
	font-weight: normal;
	font-style: normal;
}

.portlet-cdav-manager dd,
.portlet-cdav-manager dfn {
	margin-right: 20px;
}

.portlet-cdav-manager dd {
	margin-left: 0; 
}

.portlet-cdav-manager form .alert {
	margin-bottom: 0px;
}
