/ClpSerializer.java
/MailingLocalService.java
/MailingLocalServiceClp.java
/MailingLocalServiceUtil.java
/MailingLocalServiceWrapper.java
/MailingService.java
/MailingServiceClp.java
/MailingServiceUtil.java
/MailingServiceWrapper.java
/NewsletterLocalService.java
/NewsletterLocalServiceClp.java
/NewsletterLocalServiceUtil.java
/NewsletterLocalServiceWrapper.java
/NewsletterService.java
/NewsletterServiceClp.java
/NewsletterServiceUtil.java
/NewsletterServiceWrapper.java
/SubscriberLocalService.java
/SubscriberLocalServiceClp.java
/SubscriberLocalServiceUtil.java
/SubscriberLocalServiceWrapper.java
/SubscriberService.java
/SubscriberServiceClp.java
/SubscriberServiceUtil.java
/SubscriberServiceWrapper.java
/base/
/http/
/messaging/
