/**
 * main.css: Main CSS of the map-portlet
 * 
 * Created:     2016-07-23 15:38 by Christian Berndt
 * Modified:    2016-07-23 16:34 by Christian Berndt
 * Version:     1.0.1
 */
 
@import "compass";
@import "mixins";

.aui {
    
    .portlet-map-search {
    
        .dataTables_wrapper {
            select {
                width: auto;
            }  
        }
        
        table.dataTable thead {
        
            th {
            
                border-bottom: none;
                
                &::after {
                    float: right;
                    font-family: "fontawesome-alloy";
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    height: 0;
                }
            
                &.sorting_asc {
                
                    background-image: none; 
                    
                    &::after {
                        content: "";  
                    }                
                } 
                
                &.sorting {
                
                    background-image: none;
                    
                    &::after {
                        content: "";
                        opacity: 0.3;          
                    }
                } 
                
                &.sorting_desc {
                
                    background-image: none;
                    
                    &::after {
                        content: "";                   
                    }                
                } 
            }       
        }               
    }
    
    @media (max-width: 1199px) {
      
    }    
    
    @media (max-width: 979px) {
      
    }
    
    @media (max-width: 767px) {
         
    }
}
