##
## portal_normal.vm: Base Velocity template of Inofix' default-theme. Based on 
## the example of portal_normal.vm of Liferay's classic-theme.
##
## Created:     2015-07-26 16:23 by Christian Berndt
## Modified:    2015-08-02 13:42 by Christian Berndt
## Version:     1.0.1
##

<!DOCTYPE html>

#parse ($init)

#set ($default_font= $theme_display.getThemeSetting('default-font'))

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
    <title>$the_title - $company_name</title>

    <meta content="initial-scale=1.0, width=device-width" name="viewport" />
    <link href='$default_font' rel='stylesheet' type='text/css'>

    $theme.include($top_head_include)
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
    #dockbar()
#end

<div class="container-fluid" id="wrapper">
    <header id="banner" role="banner">
##        <div id="heading">
##            <h1 class="site-title">
##                <a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
##                    <img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
##
##                    #if ($show_site_name)
##                        <span class="site-name" title="#language_format ("go-to-x", [$site_name])">
##                            $site_name
##                        </span>
##                    #end
##                </a>
##
##            </h1>
##
##            <h2 class="page-title">
##                <span>$the_title</span>
##            </h2>
##        </div>

        #if ($has_navigation || $is_signed_in)
            #parse ("$full_templates_path/navigation.vm")
        #end
    </header>

    <div id="content">
##        <nav id="breadcrumbs">#breadcrumbs()</nav>

        #if ($selectable)
            $theme.include($content_include)
        #else
            $portletDisplay.recycle()

            $portletDisplay.setTitle($the_title)

            $theme.wrapPortlet("portlet.vm", $content_include)
        #end
    </div>
    
    <footer id="footer" role="contentinfo">
        <div class="container">
            <div class="copyright">
                <ul class="pull-left">
                    <li>
                &copy; 2015 <a href="http://www.inofix.ch" target="_blank">inofix.ch</a>
                    </li>
                    <li><a href="#">Datenschutz</a></li>
                </ul>
                
                <ul class="pull-right">
                
                    <li><a href="https://github.com/inofix" target="_blank"><span class="icon icon-github-sign">&nbsp;</span></a></li>
                    
                    #if (!$is_signed_in)             
                        <li><a href="/c/portal/login" title="#language ("sign-in")"><span class="icon icon-signin">&nbsp;</span></a></li>
                    #else
                        <li><a href="/c/portal/logout" title="#language ("sign-out")"><span class="icon icon-signout">&nbsp;</span></a></li>
                    #end
                </ul>                
            </div>
##          <p class="powered-by">
##              #language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
##          </p>
        </div>
    </footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>