/ReferenceBaseImpl.java
/ReferenceCacheModel.java
/ReferenceModelImpl.java
/BibliographyBaseImpl.java
/BibliographyCacheModel.java
/BibliographyModelImpl.java
/BibRefRelationBaseImpl.java
/BibRefRelationCacheModel.java
/BibRefRelationModelImpl.java
